body{
	padding: 0;
	margin: 0;
	font-family: Arial;
	align-items: center;
}

span{
	position: relative;
}
span::after{
	background-color: #fffcd6;
	content: '';
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: -4px;
	left: 0;
	z-index: -1;
}

p a{
	color: #184DA8;
	text-decoration: none;
}
p a:hover{
	text-decoration: underline;
}

.center-align{
	margin: 0 auto;
	width: 1100px;
}

.black{color: black;}
.white{color: white;}

.section-columns{
}
.section-columns > div{
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.section-columns h2{
	font-size: 72px;
}

#intro-container .section-columns h2{
	padding-top: 120px;
	padding-bottom: 30px;
}

.section-columns h3{
	font-size: 26px;
	font-weight: lighter;
	line-height: 40px;
}
.section-columns p{
	font-weight: lighter;
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 10px;
}


.section-columns #image-bg{
	background-image: url('../img/2.jpg');
	background-repeat: no-repeat;
	background-size: 750px;
	background-position: -140px -80px;
	height: 600px;
	border-radius: 10px;
}
.section-columns #image-bg-02{

}


.skew-left{
	transform: skewY(-4deg);
}
.skew-right{
	transform: skewY(4deg);
}

.btn{
	border: solid 1px;
	padding: 20px 40px;
	text-decoration: none;
	margin-right: 10px;
}
.btn-black{
	border-color: black;
	color: black;
}
.btn-black:hover{
	background-color: black;
	border-color: white;
	color: white;
}
.btn-white{
	border-color: white;
	color: white;
}

.btn-white:hover{
	background-color: white;
	border-color: black;
	color: black;
}

#intro-container{
	background-color: black;
	padding-top: 100px;
}

#intro-container nav{
	margin: 0;
	padding: 0;
}

#intro-container nav div{
	display: inline-block;
	vertical-align: top;
}

#intro-container nav #logo{
	width: 9%;

}

#intro-container nav #menu-lista{
	width: 89%;
	text-align: right;
}
#intro-container nav #menu-lista ul{
	margin: 0;
	padding: 0;
}
#intro-container nav #menu-lista ul li{
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}
#intro-container nav #menu-lista ul li a{
	color: #777;
	text-decoration: none;
}

#intro-container nav #menu-lista ul li a:hover{
	color: white;
	text-decoration: white;
}
body::-webkit-scrollbar {
  width: 0.7em;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px (360033);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(-45deg, #4776E6, #8E54E9);
  outline: 1px solid  #333;
  border-radius: 10px
  animation: gradient 15s ease infinite;
}
h6{
	color: yellow;
	background-color: black;
	padding: 10px;
	font-size: 15px;
	text-transform: uppercase;
}
.topnav {
  background-color: #000000;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #006eff;
  color: black;
}


.topnav a.active {
  background-color: #af754c;
  color: white;
}
